AddType audio/ogg .ogg
AddType audio/wav .wav
AddType audio/mpeg .mp3

<Files *>
    Header set Access-Control-Allow-Origin "*"
</Files>

<FilesMatch "\.(ogg|wav|mp3)$">
    Header set Content-Type "audio/ogg"
    Header set Content-Type "audio/wav"
    Header set Content-Type "audio/mpeg"
</FilesMatch> 